body{
	padding: 0;
	margin: 0;
}
.main{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	height: 100vh;
}
.left{
	background-color: #FFB74D;
	width: 50%;
	height: 100%;
	float: left;
	border-radius: 7px 0 0 7px;
	position: relative;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.right{
	background-color: #fff;
	flex: 1;
	height: 100%;
	float: left;
	border-radius: 0 7px 7px 0;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.weka{
	background-color: #2196F3;
	background: #f79d00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(#64f38c, #f79d00);
    background: -o-linear-gradient(#64f38c, #f79d00);
    background: linear-gradient(#64f38c, #f79d00);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	width: 170px;
	height: 170px;
	border-radius: 50%;
	overflow: none;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}
img{
	width: 150px;
	height: 150px;
	border-radius: 50%;
}
.form{
	width: 70%;

}
.text-center{
	text-align: center;
}
.in{
	border:none;
	border-bottom: 1px solid rgba(0,0,0,0.14);
	outline: none;
	width: 85%;
	height: 25px;
	background-color: transparent;
	margin-bottom: 20px;
}
.usertype{
	margin-right: 10px;
	margin-top: 10px;
	display: inline-block;  
}
select{
	background-color:;
	width: 165px;
	height: 27px;
	text-align: center;
	border-radius: 7px;
	outline: none;
}
button{
	background-color: #388E3C;
	text-align: center;
	border: none;
	min-width: 100px;
	height: 37px;
	color: white;
	float: right;
	position: relative;
	top: 5px;
	right: 42px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid #388E3C;
}
button > a{
	color: white;
	text-decoration: none;
}
.or{
	margin-right: 10px; 
}